@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	src: local('Quicksand Bold'), local('Quicksand-Bold'), url(../fonts/quicksand.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@keyframes spin {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

* {
	user-select: none;
}

body {
	background: #3C4C4F;
	font-family: Quicksand, sans-serif;
	color: #3C4C4F;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#game {
	position: fixed;
	top: 0;
	left: 0;
}

#i {
	position: fixed;
	left: .5pc;
	top: .5pc;
	font-size: calc(2vw + 2vh);
	text-shadow: 0px .2pc 0px #334143;
	z-index: 2;
	margin: 0;
}

.platform {
	position: absolute;
	background: #7A9E9F;
	border-radius: 1pc;
	box-shadow: 0px .5pc 0px #334143;
}

.spike {
	position: absolute;
	background: url("../img/spike.svg");
	background-repeat: repeat-x;
	background-clip: 1pc 1pc;
}

.friend, .player {
	position: absolute;
	width: 3pc;
	height: 3pc;
	background: #B8D8D8;
	border-radius: .25pc;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	line-height: 2.6pc;
	font-size: 2em;
	font-weight: bolder;
}

.player {
	background: #EEF5DB;
}

.grave {
	position: absolute;
	background: #334143;
	width: 4pc;
	height: 3pc;
	border-bottom: none;
	border-top-left-radius: 1pc;
	border-bottom-left-radius: 1pc;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	line-height: 2.5pc;
	font-size: 2em;
	transform: rotate(90deg);
	z-index: -1;
}

.goal {
	background: repeating-linear-gradient(
		45deg,
		#EEF5DB,
		#EEF5DB 1pc,
		#D2D8C0 1pc,
		#D2D8C0 2pc
	);
}

.loading,
.disconnected {
	position: fixed;
	top: calc(50vh - 8pc);
	left: calc(50vw - 8pc);
	width: 16pc;
	height: 16pc;
	animation: linear spin infinite 2s;
	z-index: 2;
}

.disconnected {
	animation: none;
}

/* Leaderboard */

.leaderboard {
	position: absolute;
	background: #334143;
	border-radius: 2pc;
	width: 80vw;
	height: 80vh;
	left: 10vw;
	top: 10vh;
	color: #B8D8D8;
	font-size: calc(2vw + 2vh);
}

th,
td {
	width: 10%;
	text-align: center;
	padding: 0;
}
tr.dnf {
	color: #7A9E9F;
}
tr.me {
	color: #EEF5DB;
}

th:nth-child(1),
td:nth-child(1) {
	width: 1%;
	/* border-left: 1pc; */
}

tr:nth-child(odd) {
	background: rgba(0, 0, 0, 0.2);
	/* border: #3C4C4F 2pc; */
}

table {
	border-collapse: collapse;
	margin: 1pc;
}

th {
	height: 6pc;
	text-decoration: underline;
}

.nextbutton {
	width: 3pc;
	height: 3pc;
	background-color: #293436;
	transition: background-color 0.2s;
	border-radius: 1pc;
	background-image: url("../img/arrow.svg");
	background-size: cover;
	padding: .25pc;
	background-origin: content-box;
	background-repeat: no-repeat;
	float: right;
	margin-right: .5pc;
	cursor: pointer;
}

.nextbutton:hover {
	background-color: #b8d8d8;
}